*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.1;
}

.display{
    width: 100%;
    margin-top: 50px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

.display input{
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}

.display img{
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.container button img{
    width: 20px;
    margin-right: 10px;
}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

