* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  padding: 20px;
}
.container {
  max-width: 720px;
  text-align: center;
}

.star {
  font-size: 50px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.12s;
  margin-top: 30px;
}
.star.filled {
  color: rgb(243, 243, 86);
}
.selected-rating-container p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
